<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<title>Amo</title>

<style>
body {
    background: #fff;
    text-align: center;
    margin-top: 100px;
    font-family: Arial;
}

button {
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    background: pink;
    cursor: pointer;
}
</style>
</head>

<body>

<h1>Eu já esperava por essa resposta...</h1>
<h2>então segura essa minha BOMBONCITA 💖</h2>

<a href="/surpresa">
    <button>clique aqui!</button>
</a>

</body>
</html>
