<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<title>Surpresa</title>

<style>
body {
    background: linear-gradient(to bottom, #ffe4ec, #fff);
    font-family: Arial;
    padding: 20px;
}

img {
    width: 200px;
    margin: 20px;
    border: 10px solid white;
    transform: rotate(-5deg);
}
</style>
</head>

<body>

<h2>
Eu também te amo meu amor, eu te amo minha LUANA 💖<br><br>
Estamos juntos há mais de 5 anos...<br><br>
Essa é uma pequena surpresa feita com todo meu carinho 💕
</h2>

<img src="/static/fotos/foto1.jpg">
<img src="/static/fotos/foto2.jpg">
<img src="/static/fotos/foto3.jpg">

</body>
</html>
